<h3><center>Category options for '{{categories.category_name}}'
{{title}}</h3>
<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<div class="container">
    <div class="row" id="game-start">

          <div class="input-field col m6 modal-trigger" href='#modal1'>
          	<button class="btn waves-effect waves-light blue" type="submit" name="action" data-target="modal1" >Rename Category<i class="material-icons right"></i></button>
            <div id="modal1" class="modal">
              <div class="modal1-content">
                <h4>What's the new name?</h4>
                <div class="input-field col s6">
                  <form action="/category/" method="PUT">
                  <input placeholder="{{categories.category_name}}" id="category-update" type="text" class="change category">
                  <label for="new-cat">New Category Name</label>
                </div>
              </div>
              <div class="modal-footer">
                <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Eh, I'll leave it alone</a>
                <a id="catChange" class="modal-action modal-close waves-effect waves-green btn-flat ">Change the Category Name, Plz</a>
              </div>
            </div>
          </div>
          </form>


          <div class="input-field col m6 modal-trigger" href="#modal2">
            <button data-target="modal2" class="btn waves-effect waves-light blue modal-trigger">Delete Category</button>
          </div>

          <div id="modal2" class="modal">
            <div class="modal-content">
              <h4>Whoa there!</h4>
              <p>Are you sure you want to do this? Deleting the category does NOT delete the questions cooresponding to the category.</p>
            </div>
            <div class="modal-footer">
              <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Nah, I'll leave it alone</a>
              <a id="delete-something" class="modal-action modal-close waves-effect waves-green btn-flat ">Yeah, let me destroy everything</a>
            </div>
          </div>

          <script>
            $('body').on('keydown', function(e){
              console.log(e)
              if(e.keyCode == 13){
                e.preventDefault();
              }
            })
            $("#delete-something").click(function (e) {
              $.ajax({
                url: "/category/{{categories.id}}",
                method: "DELETE",
                success: function() {
                  console.log("AHHHHHH")
                  window.location = "/category"
                }
              })
            })
            $("#catChange").click(function (e) {
              $.ajax({
                url: "/category/{{categories.id}}",
                method: "PUT",
                data: {
                  category_name: $("#category-update").val()
                },
                success: function() {
                  console.log("CHANGE DAMNIT");
                  window.location = "/category"
                }
              })
            })
          </script>

          <!-- STUPID MODAL WONT WORK RIGHT
          <div id="modal3" class="modal">
            <div class="modal1-content">
              <h4><center>What's the new question?</center></h4>
              <div class="input-field col s10">
                <form action="/question/add" method="POST" >
                      <div class="row">
                          <div class="input-field">
                              <input id="question_text" type="text" class="validate" name="question" required>
                              <label for="question">Question</label>
                          </div>
                      </div>
                      <div class="row">
                       <div class="input-field">
                           <select name="question_type" id="questionType">
                              <option>Select Answer Type</option>
                              <option value="TorF" id="boolean">True/False</option>
                              <option value="multiple choice" id="multipleChoice">Multiple Choice</option>
                           </select>
                        </div>
                    </div>
                    <div id="mult-form" style="display:none">
                        <div class="row">
                            <div class="input-field">
                                <input id="answer1" type="text" class="validate" name="answer1" required>
                                <label for="answer1">✅</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input id="answer2" type="text" class="validate" name="answer2" required>
                                <label for="answer2">❌</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input id="answer3" type="text" class="validate" name="answer3" required>
                                <label for="answer3">❌</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field">
                                <input id="answer4" type="text" class="validate" name="answer4" required>
                                <label for="answer4">❌</label>
                            </div>
                        </div>
                    </div>
                    <div id="bool-form" style="display:none">
                           <p>
                             <input name="bool" value="true" type="radio" id="answer-true" />
                             <label for="answer-true">True</label>
                             <input name="bool" value="false" type="radio" id="answer-false"/>
                             <label for="answer-false">False</label>
                           </p>
                   </div>
                       <div class="row">
                           <div>
                               <p class="center">
                                   <button class="btn btn-small waves-effect waves-light nav-wrapper blue" type="submit" value="login">Submit Question</button>
                               </p>
                           </div>
                       </div>
                 </form>

                <!-- <input placeholder="{{categories.category_name}}" id="addQtoC" type="text" class="change category"> -->
                <!-- <label for="new-cat">New Category Name</label> -->
              <!-- </div>
            </div>
          </div>
          </div> -->

          <div class="input-field col m6" href='/question'>
             <form action="/question" method="GET"><!-- is the get method necessary? -->
          	<button class="btn waves-effect waves-light blue" type="submit" name="action"  >Add Question<i class="material-icons right"></i></button>
          </div>
            </form>
            <form action="/question/list" method="GET">
          <div class="input-field col m6">
            <button id="edit-q" class="btn waves-effect waves-light blue" type="submit" name="action">Edit Questions<i class="material-icons right"></i></button>
            </form>
          </div>
    </div>

</div>

<h3><center>Or, create a new category</h3>
  <ul align = 'center'>
    <button class="btn waves-effect waves-light blue" onclick = "javascript:location.href = '/category/createNewCategory'" ><center>Create your own category</button>
  </ul>

<script src='/javascripts/modal.js'> </script>
<script src='/javascripts/addQuestions.js'> </script>
