
<div>
    <h5>Questions</h5>
    {{#each questions}}
      <div class="input-field col m6 modal-trigger" href="#modal{{id}}">
        <button value="{{id}}" data-target="modal{{id}}" class="btn waves-effect waves-light blue modal-trigger">Edit</button>&nbsp;&nbsp;&nbsp;{{question_text}}<br>
      </div>

      <div id="modal{{id}}" class="modal">
        <div class="modal-content">
          <h4>What do you want the new question to be?</h4>
          <form>
          <input type='hidden' value={{id}} >
          <input placeholder="{{question_text}}" id="question-update{{id}}" type="text" class="change question" required>
          <label for="new-question">New Question</label>
            {{#each answers}}
            <input placeholder="{{answer_text}}" id=answers"{{id}}" type="text" class="change-answer" required>
            {{/each}}
        </div>

        <div class="modal-footer">
          <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat ">Nah, I'll leave it alone</a>
          <a id="change-something" class="modal-action modal-close waves-effect waves-green btn-flat ">Change the question</a>
        </div>
      </div>
    </form>
    {{/each}}
</div>


<script src="https://code.jquery.com/jquery-3.0.0.min.js"></script>
<script src='/javascripts/modal.js'> </script>
<script src='/javascripts/addQuestions.js'> </script>
<script>
  $('body').on('keydown', function(e){
    console.log(e)
    if(e.keyCode == 13){
      e.preventDefault();
    }
  })
  $("#change-something").click(function (e) {
    $.ajax({
      url: "/list/{{questions.id}}",
      method: "PUT",
      data: {
        question_text: $("question-update{{id}}").val(),
        answer_text: $("#change-answers").val()
      },
      success: function() {
        console.log("CHANGE again DAMNIT");
        window.location = "/list"
      }
    })
  })


  // $("#{{question_id}}").click(function (event) {
  //   $.ajax({
  //     url: "/{{question.id}}/edit",
  //     method: "GET",
  //     success: function (data) {
  //
  //     }
  //   })
  })
</script>
